.label{
    font-weight: bold;
    color:#00607f;
    display: none;
}

.container svg{
    background: #fff;
    color: #8a8a8a;
    height: 20px;
    width: 20px;
}

.contentDiscount *{
    font-size:1em !important;
    color: green !important;
    font-weight: normal !important;
}

.contentSmall *{
    font-size:1em !important;
}

@media only screen and (min-width: 80em) {
    .label{
        display: block;
        position: relative;
    }
    .label:before{
        content: "(0) itens";
        position: absolute;
        font-size: 12px;
        color: #8a8a8a;
        bottom: -18px;
        left: 14px;
        text-transform: lowercase;
        z-index: 0;
        font-weight: normal;
    }
    .badge{
        top: inherit;
        bottom: -1.8rem;
        right: -4.5rem;
        background: #fff;
        color: #00607f;
        width: auto;
        z-index: 2;
        padding: 0 .5rem;
    }

    .badge:after{
        content:"itens";
        padding-left: .3em;
    }

    .miniCart-icon span{
        background: #fff;
    }

    .container{
        background: url(https://storecomponents.vteximg.com.br/assets/vtex.file-manager-graphql/images/icon-miniCart___6135a4fb24dce6fca68cf0615c5e4276.png) no-repeat left center scroll transparent;
        padding-left: 32px;
        height: 50px;
    }
    .container button{
        margin-top: -15px;
    }
    .container button:hover{
        background: transparent;
    }

    .container svg{display:none;}
    .contentSmall{
        border: 0;
    }

}