.container{background:transparent;}
.label{
    width: 25px;
    height: 24px;
    display: block;    
    text-indent: -9999px;
    background: url(https://mundialfarma.vteximg.com.br/assets/vtex.file-manager-graphql/images/icon-user___019b7acd57fb61c39dcfda264844214a.png) no-repeat center center scroll transparent;}


@media only screen and (min-width: 640px) {
    .container{
        background:#00abb5;
        color:#fff;
    }
.label{
    background: transparent;
    color:#fff;
    display:block;
    text-indent: inherit;
    width: auto;
    height: auto;
}

.container svg{color:#fff;}    

}