@media only screen and (max-width: 640px){
    .menuContainer li{background:#fafafa;padding:10px 0;border-bottom: 1px solid #ececec;}
    .menuItem div:nth-child(2) div{margin: 11px 0 0;width: 100%;padding: 0;}
    .menuItem div:nth-child(2) div .menuItem{padding-left: 50px;background: #ececec;border-bottom:1px solid #fafafa;}
}


@media only screen and (min-width: 80em){
    .menuContainer{justify-content: center;}
.styledLink{
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9em;
}

    .submenu{
        justify-content: left;
        width:300px;
    }
    .submenu nav{width:100%;}
    .submenu .menuItem .styledLink{
        color:#000;
        font-weight: normal;
        justify-content: left;
        text-align: left;
        transition: all ease 0.3s;
    }
    .submenu .menuItem .styledLink:hover{
        color: #6aa837;
    }
    .submenu .menuItem .styledLink div{
        transition: all ease 0.3s;
    }
    .submenu .menuItem .styledLink:hover div{
        padding-left:15px;
    }
}

