.flexRow--deals {
  background-color: #f4f4f4;
  padding: 14px 0px;
}

.flexRow--deals  .stretchChildrenWidth {
  align-items: center;
  vertical-align: middle;
}

.flexRow--deals  .stretchChildrenWidth *{
  align-items: center;
  vertical-align: middle;
}


.flexRow--deals .flexCol {
  align-items: center;
}
.flexRow--product-contentPrices{border-top:1px solid #ddd;border-bottom: 1px solid #ddd;position: relative;min-height: 105px;}
.flexRow--btn-buyProduct button{
  background: #83c44c;
  color: #fff;
  border-radius: 0;
  text-transform: uppercase;
  border: 0;
  padding: 10px;
  transition: .2s linear;
}

.flexRow--btn-buyProduct button:hover{
  background-color: #609831;
}

.flexRow--btn-buyProduct > div{
  margin: 0;
}

@media only screen and (min-width: 640px) {
  .flexRow--product-contentPrices{
    margin: 25px 0;
    padding: 30px 0;
  }
  .flexRow--product-contentPrices .stretchChildrenWidth{
    width: auto !important;
  }
  .flexRow--product-contentPrices .stretchChildrenWidth:last-child{
    position: absolute;
    right:0;
    top: 22%;
    line-height: 1;
  }

  .flexRow--btn-buyProduct button{
    font-size: 20px;
    padding: 15px 38px 15px 15px;
    background: url(https://storecomponents.vteximg.com.br/assets/vtex.file-manager-graphql/images/icon-cart___41afaf1….png) no-repeat 95% center scroll #83c44c;
    background-size: 33px;
    min-width: 300px;
  }

  .flexCol--footer-content3{
    padding-right:70px;
  }
  .flexCol--footer-content2 *{height:auto !important;}
  /* .flexCol--content-footerRow2{width:450px !important;} */
  .flexRow--borderFooter{
    border-bottom:1px solid #ddd;
    margin-bottom: 50px;
    padding-bottom: 50px;
  }
  .flexRow--contentFooter2{
    width:100%;
    margin: 0 auto 60px;
  }
  .flexRow--footerInfo-content .stretchChildrenWidth:first-child{
    width:70% !important;
  }
  .flexRow--footerInfo-content .stretchChildrenWidth:last-child{
    width: 25%;
    text-align: right;
  }
  .flexRow--contentMap{margin-top:20px;}

  .flexRow--contentMap .stretchChildrenWidth:first-child{
    width:30% !important;
  }  
  .flexRow--contentMap .stretchChildrenWidth:last-child{
    width:70% !important;
  }  
  .flexCol--footer-contentInstitucional div{height:auto !important;}
  .flexCol--footer-content4 div{height:auto !important;}


}

@media only screen and (max-width:640px){
  .flexRow--deals .stretchChildrenWidth{
    width:50% !important;
    display: inline-flex;
  }  
  .flexRow--mobileCol .stretchChildrenWidth{
    width:49% !important;
    display: inline-flex;
  }
}