.container{
    text-align: center;
}

.title{
    font-size: 23px;
    border: 1px solid #00abb5;
    text-transform: uppercase;
    color: #00abb5;
    background: #fff;
    font-weight: normal;
    position: relative;
    font-weight: 700;
    padding: 0 20px;
    width: auto;
    display: inline-flex;  
    margin: 20px 0;
    padding:5px 20px;  
}

.dot{
    height: 4px;
    width: 80px;
    border-radius: 0;
}